name: Keep App Alive

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  ping_url:
    runs-on: ubuntu-latest
    steps:
      - name: Ping URL
        run: |
          curl -I https://researchcrew.streamlit.app