name: Keep App Alive

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  ping_url:
    runs-on: ubuntu-latest
    steps:
      - name: Ping URL
        run: |
          curl -L --user-agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36" https://researchcrew.streamlit.app